{% extends "base.html" %}
{% block title %}Bird Sounds Global Permissions{% endblock %}
{% block content %}
<h1>Bird Sounds Global Permissions</h1>
{% for site_id, users in users_by_site.items() %}
<h2>Site {{ site_id }} ({{ site_name_map[site_id] }})</h2>
<lu>
    {% for user_id in users %}
    <li style="padding: 5px 0">
        {{ user_id }} ({{ user_name_map[user_id] }})
        <form action="{{ url_for('global_permissions_page.remove') }}" method="post" style="display: inline-block">
            <input name="siteId" type="hidden" required value="{{ site_id }}">
            <input name="userId" type="hidden" required value="{{ user_id }}">
            <button type="submit">Remove</button>
        </form>
    </li>
    {% endfor %}
</lu>
<form action="{{ url_for('global_permissions_page.add') }}" method="post">
    <input name="siteId" type="hidden" required value="{{ site_id }}">
    <input name="userId" type="text" placeholder="User ID" required>
    <button type="submit">Add</button>
</form>
{% endfor %}
{% endblock %}
