{% extends "base.html" %}
{% block title %}Bird Sounds Global Results{% endblock %}
{% block content %}
<h1>Bird Sounds Global Results</h1>
<form action="{{ url_for('global_results_page.download') }}" method="post">
    <div style="margin: 10px 0">
        <label for="continent">Continent</label>
        <select id="continent" name="continent">
            <option value="" selected></option>
            {% for continent in continents %}
            <option value="{{continent.id}}">{{continent.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="margin: 10px 0">
        <label for="order">Order</label>
        <select id="order" name="order">
            <option value="" selected></option>
            {% for order in orders %}
            <option value="{{order.id}}">{{order.scientific_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="margin: 10px 0">
        <label for="family">Family</label>
        <select id="family" name="family">
            <option value="" selected></option>
            {% for family in families %}
            <option value="{{family.id}}">{{family.scientific_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="margin: 10px 0">
        <label for="minValidations">Minimum number of validations</label>
        <input id="minValidations" name="minValidations" type="number" min="0" value="2">
    </div>

    <button type="submit" value="Submit">Download</button>
</form>
{% endblock %}
